.header {
  @include shadow;
  background-color: white;
  padding: 3em 0em 1.5em 0em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas: "header__backhome header__title .";
  .header__backhome {
    grid-area: header__backhome;
    width: 2em;
    padding-right: 2em;
    cursor: pointer;
  }
  .header__title {
    grid-area: header__title;
    width: 20em;
  }
}
