@charset "UTF-8";
@keyframes menu-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-2em);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade-out {
  60% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: contents;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    display: contents;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
    overflow: auto;
  }
}
@keyframes police-partout-scrollbar-nulle-part {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
.main-wrapper {
  width: 767px;
  margin: 0 auto;
  background-color: #eaeaea;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.1;
}

input,
textarea,
button {
  font-family: inherit;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 2.2em;
  line-height: 1;
}

p {
  font-size: 2.1em;
  font-weight: 300;
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: none;
}

.header {
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 3em 0em 1.5em 0em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas: "header__backhome header__title .";
}
.header .header__backhome {
  grid-area: header__backhome;
  width: 2em;
  padding-right: 2em;
  cursor: pointer;
}
.header .header__title {
  grid-area: header__title;
  width: 20em;
}

.footer {
  padding: 3em 2.5em;
  background-color: #353535;
  line-height: 1.7;
}
.footer .footer__title {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
  margin-bottom: 1em;
}
.footer .footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer__list li {
  display: flex;
  align-items: center;
}
.footer .footer__list li .footer__list__logo {
  margin-right: 1em;
  width: 1.6em;
  height: 1.6em;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}
.footer .footer__list li .footer__list__logo--twist {
  transform: rotate(325deg);
}
.footer .footer__list li .footer__list__text {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: 500;
  max-width: fit-content;
}

.concept__button {
  padding: 0.9em;
  font-size: 2.1em;
  border-radius: 50px;
  color: white;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
  border: none;
  background: #ff79da;
  background: linear-gradient(165deg, #ff79da 0%, #9356dc 100%);
  margin: 0.6em auto 2.1em;
}
.concept__button--centered {
  margin-left: calc(50% - 6em);
  width: 12em;
}

.steps__button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin: 3.6em 0;
  padding: 0.9em;
  border-radius: 2.5em;
  border: none;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
}
.steps__button .steps__button__number {
  position: relative;
  font-size: 1.7em;
  height: 1.7em;
  width: 1.7em;
  left: -1.2em;
  line-height: 1.7em;
  border-radius: 0.9em;
  background-color: #9356dc;
  color: white;
}
.steps__button .steps__button__logo {
  height: 3em;
  width: 3em;
  margin-left: 1em;
  filter: opacity(50%);
}
.steps__button .steps__button__instruction {
  font-weight: 600;
  font-size: 2.5em;
  margin-left: 2em;
}

.steps__button--active {
  background-color: #f6efff;
}
.steps__button--active .steps__button__logo {
  filter: invert(71%) sepia(84%) saturate(6555%) hue-rotate(243deg) brightness(92%) contrast(86%);
}

.card {
  display: block;
  border-radius: 25px;
  margin-bottom: 2.5em;
  height: 32em;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.card .card__photo {
  max-width: 100%;
  height: 70%;
}
.card .card__photo .card__photo--new {
  display: none;
}
.card .card__photo .card__photo--1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -6em;
}
.card .card__photo .card__photo--2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -19em;
}
.card .card__photo .card__photo--3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -6em;
}
.card .card__photo .card__photo--4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -6em;
}
.card .card__comments {
  max-width: 100%;
  height: 30%;
  padding-left: 2em;
}
.card .card__comments .card__comments__name {
  margin: 0;
  padding-top: 1em;
}
.card .card__comments .card__comments__situation {
  margin-top: 0.35em;
  margin-bottom: 0;
}
.card .card__comments .card__comments__fave {
  position: relative;
  left: 11em;
  bottom: 1.5em;
  font-size: 3em;
  opacity: 1;
  background-color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
.card .card__comments .card__comments__fave:hover::after {
  opacity: 1;
}
.card .card__comments .card__comments__fave::after {
  content: "";
  position: absolute;
  font-weight: bold;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  background: linear-gradient(165deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 1;
  transition: all 1s ease-in-out;
  -webkit-text-stroke: 3px black;
  transform: scale(0.84);
}

.card--new .card__photo .card__photo--new {
  display: initial;
  position: relative;
  left: 20em;
  bottom: 13em;
  width: fit-content;
  margin: 0;
  padding: 0.39em 0.9em;
  font-weight: 500;
  font-size: 1.6em;
  color: #007f5d;
  background-color: #99e2d0;
  border-radius: 0.15em;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: inline-block;
  width: 10em;
  height: 10em;
  animation: spinner-fade-out ease-in-out 1.5s forwards;
}
.spinner::after {
  content: " ";
  display: block;
  width: 10em;
  height: 10em;
  margin: -1em;
  border-radius: 50%;
  border: 1em solid #9356dc;
  border-color: #9356dc transparent #ff79da transparent;
  animation: spinner 1.2s linear infinite;
}

.unscrolled {
  animation: police-partout-scrollbar-nulle-part 2.6s;
}
.unscrolled .header {
  animation: fade-in 1.5s forwards;
}
.unscrolled .header .header__backhome {
  display: none;
}
.unscrolled .main {
  animation: fade-in 1.5s forwards;
}
.unscrolled .footer {
  animation: fade-in 1.5s forwards;
}

.localisation {
  width: 50%;
  margin: 1.5em auto 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.localisation .localisation__logo {
  width: 1.7em;
  height: 1.7em;
  margin: 0 auto;
}
.localisation .localisation__logo img {
  max-height: 95%;
}
.localisation .localisation__form {
  width: 80%;
}
.localisation .localisation__form input {
  border: none;
  font-size: 1.9em;
  font-weight: bold;
  max-width: 100%;
  background-color: #eaeaea;
}

.concept {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2em 0;
}
.concept .concept__title span::after {
  content: "\a";
  white-space: pre;
}
.concept .concept__citation span::after {
  content: "\a";
  white-space: pre;
}

.steps {
  background-color: white;
  padding: 3em 2.5em;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 3em 2.5em;
}

.menu__photo {
  max-width: 100%;
  height: 28em;
}
.menu__photo img {
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
}
.menu .starters {
  opacity: 0;
  animation: menu-fade-in ease-in-out 1500ms 0.1s forwards;
}
.menu .mains {
  opacity: 0;
  animation: menu-fade-in ease-in-out 1500ms 1s forwards;
}
.menu .desserts {
  opacity: 0;
  animation: menu-fade-in ease-in-out 1500ms 1.5s forwards;
}
.menu .menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4em 4em 0 0;
  padding: 4em 5em 2em 2.5em;
  transform: translateY(-3em);
  background-color: #f6f6f6;
}
.menu .menu__header .menu__title {
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-weight: 500;
  font-size: 3.5em;
}
.menu .menu__header .menu__fave {
  font-size: 3em;
  opacity: 1;
  background-color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
.menu .menu__header .menu__fave:hover::after {
  opacity: 1;
}
.menu .menu__header .menu__fave::after {
  content: "";
  position: absolute;
  left: 13.31em;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(165deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 1;
  transition: all 1s ease-in-out;
  -webkit-text-stroke: 3px black;
  transform: scale(0.84);
}

.meal-type {
  display: flex;
  flex-direction: column;
  padding: 0em 2.5em 6em 2.5em;
}
.meal-type .meal-type__title {
  margin-top: 0;
  margin-bottom: 1.25em;
  text-transform: uppercase;
}
.meal-type .meal-type__title::after {
  content: "";
  width: 2.5em;
  height: 5px;
  background-color: #99e2d0;
  display: block;
  margin-top: 0.25em;
}
.meal-type .meal-type__options {
  overflow: hidden;
  padding: 0 0 0 6px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  height: 10em;
  border: none;
  margin-bottom: 2.5em;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
}
.meal-type .meal-type__options:hover .check-container {
  width: 30%;
}
.meal-type .meal-type__options:hover .check-container .meal-type__options__check {
  transform: rotate(0deg);
}
.meal-type .meal-type__options .check-container {
  width: 0%;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 25px 25px 0;
  transition: width 330ms ease-in-out;
}
.meal-type .meal-type__options .check-container .meal-type__options__check {
  display: flex;
  height: inherit;
  font-size: 3.5em;
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotate(360deg);
  transition: transform 330ms ease-in-out;
}
.meal-type .meal-type__options__text {
  width: 100%;
  text-align: left;
  padding-left: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.meal-type .meal-type__options__text h3 {
  margin: 0;
  padding: 1em 0em 0.5em 0em;
  text-overflow: inherit;
  overflow: inherit;
  white-space: inherit;
}
.meal-type .meal-type__options__text p {
  margin: 0;
  padding: 0;
  text-overflow: inherit;
  overflow: inherit;
  white-space: inherit;
}
.meal-type .meal-type__options__price {
  align-self: flex-end;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.5em;
  padding-right: 1em;
}

/*# sourceMappingURL=style.css.map */
