.concept__button {
  padding: 0.9em;
  font-size: 2.1em;
  border-radius: 50px;
  color: white;
  @include shadow;
  border: none;
  background: $secondary-color;
  background: linear-gradient(165deg, $secondary-color 0%, $primary-color 100%);
  margin: 0.6em auto 2.1em;
  &--centered {
    margin-left: calc(50% - 6em);
    width: 12em;
  }
}

.steps__button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin: 3.6em 0;
  padding: 0.9em;
  border-radius: 2.5em;
  border: none;
  background-color: $light-grey;
  @include shadow;
  .steps__button__number {
    position: relative;
    font-size: 1.7em;
    height: 1.7em;
    width: 1.7em;
    left: -1.2em;
    line-height: 1.7em;
    border-radius: 0.9em;
    background-color: $primary-color;
    color: white;
  }
  .steps__button__logo {
    height: 3em;
    width: 3em;
    margin-left: 1em;
    filter: opacity(50%);
  }
  .steps__button__instruction {
    font-weight: 600;
    font-size: 2.5em;
    margin-left: 2em;
    margin-block-start: 1em;
    /* display: block; */
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    /* margin-inline-start: 0px; */
    margin-inline-end: 0px;
  }
}

.steps__button--active {
  background-color: #f6efff;
  .steps__button__logo {
    filter: invert(71%) sepia(84%) saturate(6555%) hue-rotate(243deg)
      brightness(92%) contrast(86%);
  }
}
