.card {
  height: 32em;
  width: 100%;
  border: 2px solid red;
  .card__photo {
    max-width: 100%;
    height: 70%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -6em;
    }
  }
  .card__comments {
    max-width: 100%;
    height: 30%;
  }
}
