body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.1;
}

input,
textarea,
button {
  font-family: inherit;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 2.2em;
  line-height: 1;
}

p {
  font-size: 2.1em;
  font-weight: 300;
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: none;
}
