.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: inline-block;
  width: 10em;
  height: 10em;
  animation: spinner-fade-out ease-in-out 1.5s forwards;
  &::after {
    content: " ";
    display: block;
    width: 10em;
    height: 10em;
    margin: -1em;
    border-radius: 50%;
    border: 1em solid $primary-color;
    border-color: $primary-color transparent $secondary-color transparent;
    animation: spinner 1.2s linear infinite;
  }
}
.unscrolled {
  // overflow: hidden;
  // max-height: 100vh;
  animation: police-partout-scrollbar-nulle-part 2.6s;
  .header {
    animation: fade-in 1.5s forwards;
    .header__backhome {
      display: none;
    }
  }
  .main {
    animation: fade-in 1.5s forwards;
  }
  .footer {
    animation: fade-in 1.5s forwards;
  }
}
.localisation {
  width: 20em;
  margin: 1.5em auto 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .localisation__logo {
    width: 1.7em;
    height: 1.7em;
    margin: 0 auto;
    img {
      max-height: 95%;
    }
  }
  .localisation__form {
    width: 80%;
    input {
      border: none;
      font-size: 1.9em;
      font-weight: bold;
      max-width: 100%;
      background-color: $grey;
    }
  }
}

.concept {
  background-color: $light-grey;
  text-align: center;
  padding: 2em 0;
  .concept__title {
    span::after {
      content: "\00000a";
      white-space: pre;
    }
  }
  .concept__citation {
    span::after {
      content: "\00000a";
      white-space: pre;
    }
  }
}

.steps {
  background-color: white;
  @include padding-block;
}

.restaurants {
  background-color: $light-grey;
  @include padding-block;
}

@media all and (min-width: 768px) {
  .main-wrapper {
    width: 100%;
  }
  .concept {
    .concept__title {
      span::after {
        content: "\00000a";
        white-space: normal;
      }
    }
    .concept__citation {
      span::after {
        content: "\00000a";
        white-space: normal;
      }
    }
  }
}

@media all and (min-width: 1025px) {
  .main-wrapper {
    width: 100%;
  }
  .card {
    transform: scale(0.7);
    transition: all 500ms ease-in-out;
  }
  .restaurants {
    display: grid;
    grid-template-columns: 482px 482px;
    grid-template-rows: 0fr 359px 359px;
    gap: 2em 2em;
    grid-template-areas:
      "restaurants__title restaurants__title"
      "card-palette card-La-Note"
      "card-la-francaise card-le-délice";
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  .restaurants__title {
    grid-area: restaurants__title;
    justify-self: center;
  }
  .card-palette {
    grid-area: card-palette;
  }
  .card-La-Note {
    grid-area: card-La-Note;
  }
  .card-la-francaise {
    grid-area: card-la-francaise;
  }
  .card-le-délice {
    grid-area: card-le-délice;
  }

  .steps__button {
    transform: scale(0.7);
    transition: all 500ms ease-in-out;
  }
  .steps {
    display: grid;
    grid-template-columns: 575px 575px;
    grid-template-rows: 0fr 160px 160px;
    gap: 2em 2em;
    grid-template-areas:
      "steps__title steps__title"
      "steps__button-1 steps__button-2"
      "steps__button-3 .";
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  .steps__title {
    grid-area: steps__title;
  }
  .steps__button-1 {
    grid-area: steps__button-1;
  }
  .steps__button-2 {
    grid-area: steps__button-2;
  }
  .steps__button-3 {
    grid-area: steps__button-3;
  }
}

@media all and (min-width: 1525px) {
  .restaurants {
    display: grid;
    grid-template-columns: 482px 482px 482px;
    grid-template-rows: 0fr 359px 359px;
    gap: 2em 2em;
    grid-template-areas:
      "restaurants__title restaurants__title restaurants__title"
      "card-palette card-La-Note card-la-francaise"
      "card-le-délice . .";
    justify-items: center;
    align-items: center;
  }
  .card-palette {
    grid-area: card-palette;
  }
  .card-La-Note {
    grid-area: card-La-Note;
  }
  .card-le-délice {
    grid-area: card-le-délice;
  }
  .restaurants__title {
    grid-area: restaurants__title;
  }
  .card-la-francaise {
    grid-area: card-la-francaise;
  }
  .steps {
    display: grid;
    grid-template-columns: 575px 575px 575px;
    grid-template-rows: 0 160px;
    gap: 2em 2em;
    grid-template-areas:
      "steps__title steps__title steps__title"
      "steps__button-1 steps__button-2 steps__button-3";
    justify-items: center;
    align-items: center;
  }
  .steps__button-1 {
    grid-area: steps__button-1;
  }
  .steps__button-2 {
    grid-area: steps__button-2;
  }
  .steps__button-3 {
    grid-area: steps__button-3;
  }
  .steps__title {
    grid-area: steps__title;
  }
}
