.localisation {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: white;
  .localisation__logo {
    width: 30px;
    height: 25px;
    margin: 5px 15px 0px 15px;
    img {
      max-height: 95%;
    }
  }
  .localisation__form {
    width: 80%;
    input {
      border: none;
      font-size: 1.7rem;
      font-weight: bold;
      max-width: 100%;
      background-color: $grey;
    }
  }
}

.concept {
  background-color: $light-grey;
}
.steps {
  background-color: white;
}
