.menu__photo {
  max-width: 100%;
  height: 28em;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.menu {
  background-color: $light-grey;
  .starters {
    opacity: 0;
    animation: menu-fade-in ease-in-out 1500ms 0.1s forwards;
  }
  .mains {
    opacity: 0;
    animation: menu-fade-in ease-in-out 1500ms 1s forwards;
  }

  .desserts {
    opacity: 0;
    animation: menu-fade-in ease-in-out 1500ms 1.5s forwards;
  }

  .menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4em 4em 0 0;
    padding: 4em 5em 2em 2.5em;
    transform: translateY(-3.5em);
    background-color: $light-grey;
    width: 100%;
    box-sizing: border-box;
    .menu__title {
      font-family: "Shrikhand", cursive;
      margin: 0;
      font-weight: 500;
      font-size: 3.5em;
    }
    .menu__fave {
      font-size: 3em;
      opacity: 1;
      background-color: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 2;
      &:hover {
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: "\f004";
        position: relative;
        left: -1em;
        display: inline-block;
        font-weight: bold;
        color: transparent;
        background: linear-gradient(
          165deg,
          $secondary-color 0%,
          $primary-color 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        z-index: 1;
        transition: all 1s ease-in-out;
        -webkit-text-stroke: 3px black;
        transform: scale(0.84);
      }
    }
  }
}

.meal-type {
  display: flex;
  flex-direction: column;
  padding: 0em 2.5em 6em 2.5em;

  .meal-type__title {
    margin-top: 0;
    margin-bottom: 1.25em;
    text-transform: uppercase;
    &::after {
      content: "";
      width: 2.5em;
      height: 5px;
      background-color: #99e2d0;
      display: block;
      margin-top: 0.25em;
    }
  }
  .meal-type__options {
    overflow: hidden;
    padding: 0 0 0 6px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    height: 10em;
    border: none;
    margin-bottom: 2.5em;

    @include shadow;
    &:hover .check-container {
      width: 30%;
      .meal-type__options__check {
        transform: rotate(0deg);
      }
    }

    .check-container {
      width: 0%;
      height: 100%;
      background-color: #99e2d0;
      border-radius: 0 25px 25px 0;
      transition: width 330ms ease-in-out;

      .meal-type__options__check {
        display: flex;
        height: inherit;
        font-size: 3.5em;
        justify-content: center;
        align-items: center;
        color: white;
        transform: rotate(360deg);
        transition: transform 330ms ease-in-out;
      }
    }
  }
  .meal-type__options__text {
    width: 100%;
    text-align: left;
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .meal-name {
      font-size: 2.2em;
      line-height: 1;
      margin: 0;
      padding: 1em 0em 0.5em 0em;
      text-overflow: inherit;
      overflow: inherit;
      white-space: inherit;
      display: block;
      // margin-block-start: 1em;
      // margin-block-end: 1em;
      // margin-inline-start: 0px;
      // margin-inline-end: 0px;
      font-weight: bold;
    }
    span {
      margin: 0;
      padding: 0;
      text-overflow: inherit;
      overflow: inherit;
      white-space: inherit;
      display: block;
      margin-block-start: 0.4em;
      // margin-block-end: 1em;
      // margin-inline-start: 0px;
      // margin-inline-end: 0px;
      font-size: 2.1em;
      font-weight: 300;
    }
  }
  .meal-type__options__price {
    align-self: flex-end;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.5em;
    padding-right: 1em;
    font-size: 2.1em;
  }
}

@media all and (min-width: 1304px) {
  .menu {
    transition: all 500ms ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 0fr;
    gap: 0em 0em;
    grid-template-areas:
      "menu__header menu__header"
      "starters mains"
      "desserts ."
      "concept__button--centered concept__button--centered";
    justify-items: center;
    // align-items: center;
  }
  .menu__header {
    grid-area: menu__header;
  }
  .starters {
    grid-area: starters;
    width: 36em;
  }
  .mains {
    grid-area: mains;
    width: 36em;
  }
  .desserts {
    grid-area: desserts;
    width: 36em;
  }
  .concept__button--centered {
    grid-area: concept__button--centered;
  }
}

@media all and (min-width: 2032px) {
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr;
    gap: 2em 2em;
    grid-template-areas:
      "menu__header menu__header menu__header"
      "starters mains desserts"
      "concept__button--centered concept__button--centered concept__button--centered";
    justify-items: center;
    align-items: center;
  }
  .menu__header {
    grid-area: menu__header;
  }
  .starters {
    grid-area: starters;
  }
  .mains {
    grid-area: mains;
  }
  .desserts {
    grid-area: desserts;
  }
  .concept__button--centered {
    grid-area: concept__button--centered;
  }
}
