@mixin shadow {
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
}

@mixin padding-block {
  padding: 3em 2.5em;
}

@mixin logo-size {
  width: 3em;
  height: 3em;
}

@mixin photo-sizer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin black-to-white-filter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg)
    brightness(100%) contrast(104%);
}
